/* clears space on all element */
*{
    margin: 0;
    overflow-x: hidden;
}

/* .container {
  width: 70%;
  margin: auto;
} */
.pt-serif-regular {
    font-family:  serif;
    font-weight: 400;
    font-style: normal;
  }

  .baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  
body {
    font-family: Raleway, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden; */
   margin: auto;
}

/* for the size of the log */
#logo {
    width: 100px; 
}

nav {
    /* default display: flex is row; */
    display: flex;
    flex-direction: row;
    /* justify-content: affects the horizontal arrangengement */
    justify-content: space-between;
    padding: 20px 40px;
    background-color: white;
    /* /* position: fixed;
    width: 100vw; */
} 

#nav-links {
    display: flex;
    /* signifies gap between navlinks */
    column-gap: 40px;
    padding-top: 15px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

#nav-links a {
    color: inherit;
}

nav button {
    background-color: white;
    padding: 10px 20px;
    height: fit-content;
    /* border: 2px solid blanchedalmond; */
    border-width: 2px;
    border-style: solid;
    border-color: #B40000;
}

nav button:hover {
    background-color: red;
    color: white;
  }


#hero {
    background-image: url(../assets/images/hangers-1850082_1280.jpg);
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
}

#header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 20%;
    padding: 200px 60px 0px 0px; 
    /* text-align: left; */
    /* margin-right: 200px; */
    margin-left: 60px;
}

.h1text {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: "Baskervville", serif;
    font-weight: 400;
}

.sub-text {
    font-size: 20px;
}

.hero-button {
   display: inline-block;
   /* flex-direction: column; */
   padding: 10px 20px;
   background-color: rgb(123, 121, 121);
   position: relative;
   text-align: center;
   border: none;
   margin-left: 60px;
   margin-top: 30px;
}

#about-section {
    padding: 40px 0px;
}

/* .about-section .container {
    display: flex;
} */
#about-section .container {
    display: flex;
}


.about-image {
    width: 50%;
    position: relative;
  }
  

.about-img {
    height: 746px;
    width: 100%;
    display: flex;
    justify-content: right;
  }

.about-img img {
    width: 526px;
    height: 746px;
    border-top-left-radius: 20%;
  }

  .about-image .floating-card {
    position: absolute;
    bottom: -20px;
    right: -20px;
    background-color: #b40000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    color: #fff;
  }

  .about-image .floating-card h1,
  .about-image .floating-card h2 {
  margin: 0;
  font-family: "Roboto";
  font-weight: 900;
}


.about-text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.about-text.author-name {
    display: flex;
    align-items: center;
}

.about-text-container {
    width: 80%;
}

.about-text img {
    width: 80px;
    height: 50px;
}

.hero-title {
  font-family: "Baskervville", serif;
  font-size: 70px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin: 20px 0px;
}


.subtitle {
    font-family: "Baskervville", serif;
    font-size: 46px;
    font-weight: 400;
    margin: 20px 0px;
  }

  .sub-subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 1.5rem;
    margin: 20px 0px;
    font-weight: 700;
  }

  .body1 {
    font-family: "Baskervville", serif;
    font-size: 24px;
    font-weight: 400;
    margin: 20px 0px;
  }

.body2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 20px 0px;
  }

  .small {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 200;
  }
  
  
  
  